body {
    text-align: center;
    position: relative;
    background-color: azure;
    padding: 30px;
    font-family: 'Architects Daughter';
    overflow: hidden;
}

.playerInfo {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.playerInfo > * {
    margin: 0px;
}

.player {
    font-size: 36px;
}

.playerType {
    padding: 15px;
    font-size: 24px;
}

.hoverEffect:hover {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.gameboard {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    margin: 24px auto 24px auto;    
}

.tile { 
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: 3px solid white;
    color: white;
    background-color: #252525;
    font-size: 100px;
    line-height: 2em;
}

.tile:hover {
    background-color: #3c3c3c;
}

.winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    background-color: #252525;
    color: white;
    font-size: 80px;
    padding: 12px;
}

.restart {
    font-size: 32px;
}

.restart:hover {
    text-decoration: underline;
}

.ellipsis {
    font-size: 36px;
    line-height: 0.5;
}

.blinking {
    animation-name: blinking;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
}

.transparent {
    opacity: 0.4;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
}

.delay1 {
    animation-delay: 0.12s;
}

.delay2 {
    animation-delay: 0.24s;
}

@keyframes blinking {
    0% {
        width: 8px;
        height: 8px;
        margin: 4px;
    }

    20% {
        width: 12px;
        height: 12px;
        margin: 2px;
    }

    40% {
        width: 8px;
        height: 8px;
        margin: 4px;
    }
}

footer {
    font-size: 24px;
    margin: auto;
    font-style: italic;
}

footer img {
    width: 0.8em;
    height: 0.8em;
}

a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

a:hover {
    text-decoration: underline;
    opacity: 1;
}